#exp-container{
    padding-left: 0px;
    padding-right: 10px;
}
#main{
    min-height: 90vh;
    background-color: #F8F9FA;
}
#span{
    margin-top: 20px;
    height: 48px;
}
#search-bar{
    margin-top: 45px;
}
#card{
    width: calc(180px);
    height: 350px;
}
#img-search{
    margin-top: 10px;
    width: calc(70px + 7.5vw);
    height: calc(70px + 7.5vw);
    max-height: 165px;
    max-width: 165px;
}
#date{
    position: absolute;
    bottom: 5px;
    right: 15px;
}
#content-box h5{
    display: flex;
    justify-content: center;
}
#content-box small{
    display: flex;
    justify-content: center;
}
/* 768px */
@media (max-width: 768px) {
    #img-search{
        margin-top: 10px;
        width: calc(220px);
        height: calc(200px);
        max-height: none;
        max-width: none;
    }
    #content-box{
        position: relative;
        top: 25px;
        height: 50px;
    }
    #card{
       width: inherit;
    }
    #cadre{
        height: 180px;
    }
}
@media (min-width: 768px) {
    #global{
        padding-left: 0px;
        padding-right: 0px;
    }
    #card{
        width: calc(80px + 7.5vw);
    }
}
@media (min-width: 992px) {
    #card{
        width: calc(150px + 5vw);
        height: 320px;
    }
    #content-box{
        position: relative;
        top: 0px;
    }
}
@media (min-width: 1200px) {
    #card{
        width: calc(185px + 5vw);
        height: 320px;
    }
}